body{
  margin: 0px;
  padding: 0px;
}

.container-center{

margin-left: 600px;
  background-color: #fff;
}

.btn{
  margin: 20px;
}



.content{
  background-color: #eee;
  border-radius: 0;
}

.no-margin{
    margin: 0px !important;
}
